<h1 class="page-heading">The GI Blog:  
<!--<span><%= link_to "New Blog post", new_blog_path, class: 'btn btn-primary' %></span>-->
</h1>
<div class="blog">
    <div class="blog-latest">
        <% @blogs.reverse.each do |blog| %>
        <div class="blog-list">
            <div style="width: 100%;">
                <h2><%= blog.title %></h2>
                <h4>Published on: <%= blog.created_at.strftime("%B %e, %Y") %></h4>
                <div class="fb-like" data-href="https://generalissuehomepage.herokuapp.com/" 
                data-width="50" data-layout="standard" data-action="like" data-size="small" 
                data-show-faces="true" data-share="true"></div>
            </div>
            <div class="blog-show">
                <%= markdown(blog.body) %>
            </div>
        </div>
        <% end %>
        <div class="blog-admin-panel">
            <h2>Blog Admin Panel:</h2>
            <table>
                <tr>
                    <th id="blog-title">Title:</th>
                    <th id="blog-date">Date:</th>
                    <th id="blog-show">Show:</th>
                    <th id="blog-edit">Edit:</th>
                    <th id="blog-delete">Delete:</th>
                </tr>
                <% @blogs.each do |blog| %>
                <tr>
                   <td><%= blog.title %></td>
                   <td><%= blog.created_at.strftime("%B %e, %Y") %></td>
                   <td><%= link_to "Show", blog_path(blog.id) %></td>
                   <td><%= link_to "Edit", edit_blog_path(blog.id) %></td>
                   <td><%= link_to "Destroy", blog_path(blog.id), :method => :delete, :confirm => "Are you sure?" %></td>
                </tr>
                <% end %>
            </table>
        </div>
</div>
