
<div class="container">
    <main>
        <section class="blog-show">
            <h2><%= "#{@blog.title}" %></h2><span><%= link_to "Edit", edit_blog_path(@blog.id) %></span>
            <h4><%= "Published: #{@blog.created_at.strftime("%B %e, %Y")}" %></h4>
            <div class="fb-like" data-href= "https://generalissuehomepage.herokuapp.com/blogs/@blog.id"
                data-width="50" data-layout="button" data-action="like" data-size="small" 
                data-show-faces="false" data-share="true">
            </div>
            <div class="blog-content">
                <%= markdown(@blog.body) %>
            </div>
            <div class="blog-nav">
                <h3><%= link_to("Previous", @blog.previous) %></h3>
                <h3><%= link_to("Index", blogs_path) %></h3>
                <h3><%= link_to("Next", @blog.next) %></h3>
            </div>
        </section>
    </main>
</div> 
