<%= content_for :head do %>
    <%= tag :meta, property: "fb:app_id",       content: 360239074415686 %>
    <%= tag :meta, property: "og:url",          content: "https://generalissuehomepage.herokuapp.com/" %>
    <%= tag :meta, property: "og:type",         content: "website" %>
    <%= tag :meta, property: "og:title",        content: "General Issue | Digital Marketing" %>
    <%= tag :meta, property: "og:description",  content: "A digital marketing agency specializing in helping veteran-owned small businesses
                                                      with Marketing Strategy, Search Engine Optimization (SEO) & Pay-Per-Click (PPC).  10% of our profits
                                                      go to Veteran's Organizations." %>
    <%= tag :meta, property: "og:image",        content: "https://generalissuehomepage.herokuapp.com/assets/logo-double.png" %>
<% end %>
<div class="hero">
    <div class="filter">
        <h1>Digital marketing for veteran business owners.</h1>
        <h2>We craft online-marketing solutions for those who lean forward in the foxhole.</h2>
    </div>
</div>
<div class="home-content">
    <div class="home-third">
        <h2>About</h2>
        <p>General Issue exists to serve veteran-owned small businesses.  From SEO to PPC and beyond, we're here to help you grow your own
        slice of the American dream.  Oh, and we also give back 10% of our profits to veteran's causes. </p>
        <%= link_to('Read more', about_path) %>
    </div>
    <div class="home-third">
        <h2>Services</h2>
        <p>We stayed laser-focused on only four areas of service to deliver consistent top-tier results:</p>
        <ul>
            <li>Digital Branding & Strategy</li>
            <li>Search Engine Optimization (SEO)</li>
            <li>Pay-Per-Click (PPC) Advertising</li>
            <li>Social Media Advertising</li>
        </ul>
        <%= link_to('Read more', services_path) %>
    </div>
    <div class="home-third">
        <h2>The G.I. Blog:</h2>
        <h3><%=  "\"#{Blog.last.title}:\"" %></h3>
        <br>
        <p><%= markdown(truncate(Blog.last.body, length: 200)) %></p>
        <%= link_to('Read more', blogs_path) %>
    </div>
    <div class="home-third">
        <h2>Contact</h2>
        <p>When you're ready to get started, feel free to reach out to us.  The next step would be our free-initial consultation.</p>
        <%= link_to('Contact us', contact_path) %>
    </div>
</div>
<div class="home-testimonial">
    <div class="image">
        <%= image_tag ('face') %>
        <p>Shaun P.</p>    
    </div>
    <div class="text">
        <h2>What People Are Saying:</h2>
        <p>"These guys are the real deal.  I signed up with General Issue because, I too, like supporting veteran-owned businesses, and they didn't
        disappoint.  They'll guide you through the whole online marketing process from start to finish.  Super happy with my experience so far,
        and I'm getting more leads than ever from the internet."</p>
    </div>
</div>