<%= render 'layouts/nav' %>
<div class="container">
    <aside><%= render 'products' %></aside>
    <main>
        <h1>The G.I.</h1>
        <section class="template">
            <div class="template-left">
                <div class="template-left-top">
                    <%= image_tag('logo-quarter') %>
                    <div>
                        <h2>The G.I.</h2>
                        <h4>Starts at: $3999</h4>
                    </div>
                </div>
                <h4>Our standard package: a simple, clean, fully-responsive design built with SEO and lead-conversion in mind.</h4>   
            </div>
            <div class="template-right">
                <div class="template-right-inside">
                    <h3>Great for:</h3>
                    <ul>
                        <li>Startups on a budget</li>
                        <li>Soloprenuers with simple web-presence needs</li>
                    </ul>
                </div>
                <div class="template-right-inside">
                    <h3>Comes with:</h3>
                    <ul>
                        <li>5 Static Pages and Social Media links</li>
                        <li>Static Gallery, with up to 15 images</li>
                        <li>Contact page with form and Google Maps integration</li>
                    </ul>
                </div>    
            </div>
        </section>
        <section>
            <div style="display: flex; align-items: center;">
                <h2 style="flex: 1;">Product Spotlight:</h2>
                <h3 style="flex: 1;">Company: XYZ Woodworking</h3>
            </div>
            <div style="display: flex; justify-content: center;">
                <%= image_tag 'blocjams', size:'625x400' %>
            </div>
            <div style="display: flex;">
                <div style="flex: 1; padding: 2rem;">
                    <h3>The Need:</h3>
                    <p>John was looking to take his company to the next level.  He had a great product - custom kitchen and bath cabinets, but hadn't fully
                    developed his presence online.  He a steady stream of work coming in from word of mouth referrals, but he needed more consistent and better
                    lead generation methods.</p>   
                </div>
                <div style="flex: 1; padding: 2rem;">
                    <h3>Testimonial:</h3>
                    <p><em>"Lew and the team at General Issue are the real deal.  He walked me through my website options, and I decided on the G.I. package.  I wish
                    I would have called him a year ago!  I finally have a website that represents the quality of my work!</em></p>
                </div>
            </div>
        </section>
        <article>
            <%= link_to craftsman_path, style: 'color: black; text-decoration: none;' do %>
                <h3>Not quite right?  Checkout our next package: "The Craftsman"</h3>
            <% end %>
        </article>
    </main>
</div>
        
