<%= render 'layouts/nav' %>
<div class="container">
    <aside><%= render 'layouts/aside' %></aside>
    <main>        
        <h1>Website Packages:</h1>
        <%= link_to general_issue_path do %>
        <section class="template">
            <div class="template-left">
                <div class="template-left-top">
                    <%= image_tag('logo-quarter') %>
                    <div>
                        <h2>The G.I.</h2>
                        <h4>Starts at: $3999</h4>
                    </div>
                </div>
                <h4>Our standard package: a simple, clean, fully-responsive design built with SEO and lead-conversion in mind.</h4>   
            </div>
            <div class="template-right">
                <div class="template-right-inside">
                    <h3>Great for:</h3>
                    <ul>
                        <li>Startups on a budget</li>
                        <li>Soloprenuers with simple web-presence needs</li>
                    </ul>
                </div>
                <div class="template-right-inside">
                    <h3>Comes with:</h3>
                    <ul>
                        <li>5 Static Pages and Social Media links</li>
                        <li>Static Gallery, with up to 15 images</li>
                        <li>Contact page with form and Google Maps integration</li>
                    </ul>
                </div>    
            </div>
        </section>
        <% end %>
        <%= link_to craftsman_path do %>
        <section class="template">
            <div class="template-left">
                <div class="template-left-top">
                    <span style="font-size: 8rem;"><i class="icon ion-settings"></i></span>
                    <div>
                        <h2>The Craftsman</h2>
                        <h4>Starts at: $4999</h4>
                    </div>
                </div>
                <h4>Everything a tradesman needs to reach customers online in an image intensive format to showcase premium craftsmanship.</h4>   
            </div>
            <div class="template-right">
                <div class="template-right-inside">
                    <h3>Great for:</h3>
                    <ul>
                        <li>Home improvement specialists: general contractors, cabinet makers</li>
                        <li>Outdoor living specialists: hardscapers, pool contractors</li>
                    </ul>
                </div>
                <div class="template-right-inside">
                    <h3>Comes with:</h3>
                    <ul>
                        <li>Everything in the G.I.</li>
                        <li>Interactive Blog</li>
                        <li>Interactive gallery for easy updating</li>
                        <li>Online appointment setting</li>
                    </ul>
                </div>    
            </div>
        </section>
        <% end %>
        <%= link_to artisan_path do %>
        <section class="template">
            <div class="template-left">
                <div class="template-left-top">
                    <span style="font-size: 8rem;"><i class="icon ion-paintbrush"></i></span>
                    <div>
                        <h2>The <br>Artisan</h2>
                        <h4>Starts at: $4999 </h4>
                    </div>
                </div>
                <h4>e-Commerce solution for makers of all kinds who need an easy online solution to make their premium goods available online.</h4>   
            </div>
            <div class="template-right">
                <div class="template-right-inside">
                    <h3>Great for:</h3>
                    <ul>
                        <li>Custom woodworkers, potters & sculptors</li>
                        <li>Painters, and other artists</li>
                    </ul>
                </div>
                <div class="template-right-inside">
                    <h3>Comes with:</h3>
                    <ul>
                        <li>Everything in the G.I.</li>
                        <li>Interactive product gallery that's easy to update</li>
                        <li>Shopping card with credit card processing</li>
                    </ul>
                </div>    
            </div>
        </section>
        <% end %>
    </main>
</div>