<div class="hero">
    <header>
        <div>
          <%= link_to image_tag('logo-half', class: 'logo'), root_path %>
          <h1>Bold planning.  Bolder execution.<br>Building better websites.</h1>
        </div>
        <ul>
            <li><a href="www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><a href="www.yelp.com" style="font-size: 2rem;"><i class="fa fa-yelp" aria-hidden="true"></i></li>
            <li><a href="www.google.com"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
            <li><%= link_to 'About', about_path %></li>
            <li><a href="#">Our Work</a></li>
            <li><%= link_to 'Website Packages', products_path %></li>
            <li><%= link_to 'Our Process', process_path %></li>
            <li><%= link_to 'Blog', blogs_path %></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </header>
</div>